body {
            width: 100%;
            background: white;
            display: flex;
            flex-direction: column;
            font-family: Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    color: black;
    font-family: Helvetic, sans-serif;
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    text-decoration: underline;
    font-style: italic; 
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}


nav a {
    font-size: 20px;
    line-height: 22px;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

nav a:hover {
    font-family: Georgia, serif;
    font-style: italic;
}

nav a.active {
    font-family: Georgia, serif;
    font-style: italic;
    text-decoration: underline; 
}

        .main-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
        }

        .content {
            display: flex;
            justify-content: left;
            align-items: flex-start;
            gap: 10px;
            overflow-x: auto;
            white-space: nowrap;
            width: 100%;
        }

        .scroll-box {
            align-items: flex-start;
            height: auto;
            width: 400px;
            text-align: left;
            flex: 0 0 auto;
        }

        .info {
            height: 100px;
            overflow: hidden;
            font-size: 12px;
        }

        .info h2 {
            font-size: 24px;
            font-weight: normal;
            margin: 0;
        }

        .info p {
            margin: 5px 0;
        }

        .img-container {
            width: 100%;
            height: auto;
            aspect-ratio: 3 / 4;
            overflow: hidden;
        }

        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        .arrows-wrapper {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }

        .arrows .arrow {
            font-size: 36px;
            cursor: pointer;
        }

        .arrow_left, .arrow_right {
            color: black;
        }


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    position: relative;
    width: 60vw; 
    max-height: 60vw;
    overflow: hidden;
}

.overlay img {
    width: 100%; 
    height: auto;
    display: block;
}

.close {
    position: relative;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 1100;
}

.overlay-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 10px;
    position: relative; 
    bottom: 10px;
    left: 0;
    right: 0;
}

.nav {
    cursor: pointer;
    font-size: 30px;
}

.image-index {
    font-size: 20px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

        @media (prefers-color-scheme: dark) {
            body {
                background-color: #fc4022;
            }
        }

        @media (min-width: 768px) {
            h1 {
                font-size: 48px;
            }
            
            .scroll-box {
                width: 600px;
                height: auto;
            }
        }